.dashboard__nav ul li a {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.dashboard__nav ul li a img {
  width: 20px;
  height: 20px;
}

/* .dashboard__nav ul li a.active {
  background-color: #eef6f9;
  border-radius: 10px;
} */