


/* Home page buttons just for mounting it will be removed later */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}


.hbtn { 
    margin: 10px;
    color: black;
    background-color: white;
    padding: 15px 20px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}