:root {
    --primary-bg: #0b234c;
    --border-color: #dcdcdc;
}

.check-inbox .container {
    margin: 30px auto;
    display: flex;
    width: 1200px;
    color: white;
    background-color: var(--primary-bg);
}

.check-inbox .left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.check-inbox .left .logo {
    width: 150px;
    height: 80px;
    position: relative;
}

.check-inbox .left .logo img {
    width: 100%;
    position: absolute;
    left: -30%;
    top: -80%;
}

.check-inbox .left h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.check-inbox .right {
    margin-top: 70px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.check-inbox .card {
    width: 360px;
    background: white;
    color: var(--primary-bg);
    border-radius: 40px;
    padding: 60px 25px;
    margin-bottom: 20px;
    color: var(--primary-bg);
}

.check-inbox .card-title {
    text-align: center;
    margin: 0 0 50px;
    font-size: 30px;
    font-weight: 550;
}

.check-inbox .card p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
}
.check-inbox .card a {
    text-align: center;
    color: #77a5c9;
    text-decoration: none;
}
.check-inbox .resend {
    display: block;
    margin: 10px 0 20px;
    font-size: 12px;
    color: #77a5c9;
    text-decoration: none;
}

.check-inbox .code-inputs {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 25px;
}

.check-inbox .code-inputs input {
    width: 45px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    border: 1.5px solid #cfd9e6;
    outline: none;
}

.check-inbox .submit-btn {
    width: 100%;
    padding: 12px;
    background: var(--primary-bg);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.check-inbox .edit-btn {
    width: 100%;
    padding: 12px;
    background: #ffffff;
    color: var(--primary-bg);
    border: 1.5px solid #cfd9e6;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.check-inbox .edit-btn:hover {
    background: #f0f0f0;
}

.check-inbox .submit-btn:hover {
    background: #0b236c;
}

@media (max-width: 1200px) {
    .check-inbox .container {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .check-inbox .container {
        width: 75%;
    }

    .check-inbox .left {
        width: 40%;
    }

    .check-inbox .right {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .check-inbox .container {
        width: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* gap: 40px; */
    }

    .check-inbox .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

    }

    .check-inbox .left h2 {
        font-size: 24px;
    }

    .check-inbox .left .logo img {
        width: 100%;
        position: relative;
        left: 0;
    }
   .check-inbox .right .card-title {
        font-size: 32px;
    }
    .check-inbox .right {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .check-inbox .right .card {
        width: 80%;
    }
}