body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Nunito', sans-serif;
    background-color: #0b234c;
}

:root {
    --primary-bg: #14274E;
    --border-color: #dcdcdc;
}

.fo-pass .container {
    max-width: 1300px;
    width: 100%;
    display: flex;
    color: white;
}

/* LEFT SIDE */
.fo-pass .left {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 80px;
}

.fo-pass .left .logo {
    width: 170px;
}

.fo-pass .left h2 {
    font-size: 30px;
}


.fo-pass .right {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fo-pass .right .card {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 30px;
    color: #0b234c;
    font-weight: bold;
}

.fo-pass .card-title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: bold;
    font-weight: 'Poppins', 'Nuninto';
}

.fo-pass form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.fo-pass .field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.fo-pass label {
    font-size: 14px;
    color: #0b234c;
    font-weight: 500;
}


.fo-pass input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

.fo-pass button {
    margin-top: 10px;
    padding: 14px;
    background: #0b234c;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
}

.fo-pass button:last-child {
    color: #0b234c;
    background: white;
    border: 1px solid #0b234c;
    font-weight: bold;
}

.fo-pass button:hover {
    opacity: 0.9;
}

/* Responsive */

@media (max-width: 1200px) {
    .fo-pass .container {
        max-width: 900px;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .fo-pass .container {
        max-width: 700px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .fo-pass .container {
        max-width: 450px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .fo-pass .left {
        margin-right: 0;
        align-items: center;
        text-align: center;
    }
    .fo-pass .right {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .fo-pass .container {
        max-width: 300px;
    }
    .fo-pass .left {
        width: 100%;
        margin-right: 0;
        align-items: center;
        text-align: center;
    }
     .fo-pass .right {
        width: 300px;
    }
}
@media (max-width: 320px) {
    .fo-pass .container {
        max-width: 280px;
    }
    .fo-pass .left {
        margin-right: 0;
        align-items: center;
        text-align: center;
    }
     .fo-pass .right {
        width: 100%;
    }
}