:root {
    --primary-bg: #0b234c;
    --border-color: #dcdcdc;
}

.fo-pass .container {
    margin: 30px auto;
    display: flex;
    width: 1200px;
    color: white;
    background-color: var(--primary-bg);
}

/* LEFT SIDE */
.fo-pass .left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.fo-pass .left .logo {
    width: 150px;
    height: 80px;
    position: relative;
}

.fo-pass .left .logo img {
    width: 100%;
    position: absolute;
    left: -30%;
    top: -80%;
}

.fo-pass .left h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}


/* RIGHT SIDE*/
.fo-pass .right {
    margin-top: 70px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.fo-pass .card {
    width: 360px;
    background: white;
    color: var(--primary-bg);
    border-radius: 40px;
    padding: 60px 25px;
    margin-bottom: 20px;
}

.fo-pass .card-title {
    text-align: center;
    margin: 0 0 50px;
    font-size: 30px;
    font-weight: 550;
}

.fo-pass form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.fo-pass .field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.fo-pass label {
    font-size: 14px;
    font-weight: 500;
}


.fo-pass input {
    width: 90%;
    padding: 12px 15px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.fo-pass button {
    margin-top: 10px 0;
    padding: 13px 20px;
    background: #0b234c;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 550;
}

.fo-pass button:last-child {
    color: #0b234c;
    background: white;
    border: 1px solid #eeee;
    font-weight: bold;
}

.fo-pass button:hover {
    opacity: 0.9;
}

/* Responsive */

@media (max-width: 1200px) {
    .fo-pass .container {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .fo-pass .container {
        width: 75%;
    }

    .fo-pass .left {
        width: 40%;
    }

    .fo-pass .right {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .fo-pass .container {
        width: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .fo-pass .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

    }

    .fo-pass .left h2 {
        font-size: 24px;
    }

    .fo-pass .left .logo img {
        width: 100%;
        position: relative;
        left: 0;
    }
   .fo-pass .right .card-title {
        font-size: 32px;
    }
    .fo-pass .right {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .fo-pass .right .card {
        width: 80%;
    }
}