:root {
  --primary-bg: #5EA5C0;
  --border-color: #B9C0C9;
  --text-dark: #14274E;
  --text-light: #6b7280;
}

.set-pass .container {
    margin: 30px auto;
    display: flex;
    width: 1200px;
    color: white;
    justify-content: center;
    /* background-color: var(--primary-bg); */
}

/* LEFT SIDE */




/* RIGHT SIDE*/
.set-pass .right {
    /* margin-top: 70px; */
    width: 50%;
    display: flex;
    flex-direction: column;
}

.set-pass .card {
    width: 390px; 
    background: white;
    color: var(--primary-bg);
    border-radius: 50px; 
    padding: 36px 25px; 
    margin: 96px auto 21px; 
    text-align: center;
    border: 1px solid var(--border-color);
    box-shadow:
        0 12px 30px rgba(0, 0, 0, 0.12),
        inset 0 2px 6px rgba(0, 0, 0, 0.08);
}


.set-pass .card-title {
    text-align: center;
    /* margin-bottom: 10px; */
    font-size: 36px;
    font-weight: 600;
}
.set-pass form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 16px;
}

.set-pass .field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.set-pass label {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
}


.set-pass input {
    width: 90%;
    padding: 15px 18px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
}

.set-pass button {
    width: 100%;
    padding: 12px;
    background: var(--primary-bg);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    /* margin-bottom: 15px; */

}

.set-pass button:last-child {
    color: var(--text-dark);
    background: white;
    border: 1px solid var(--border-color);
    font-weight: bold;
    /* font-size: 20px;
    font-weight: 600; */
}

.set-pass button:hover {
    opacity: 0.9;
}

/* Responsive */

@media (max-width: 1200px) {
    .set-pass .container {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .set-pass .container {
        width: 75%;
    }

    .set-pass .left {
        width: 40%;
    }

    .set-pass .right {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .set-pass .container {
        width: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .set-pass .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

    }

    .set-pass .left h2 {
        font-size: 24px;
    }

    .set-pass .left .logo img {
        width: 100%;
        position: relative;
        left: 0;
    }

    .set-pass .right .card-title {
        font-size: 32px;
    }

    .set-pass .right {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .set-pass .right .card {
        width: 80%;
    }
}