:root {
  --primary-bg: #5EA5C0;
  --border-color: #B9C0C9;
  --text-dark: #14274E;
  --text-light: #6b7280;
}

.set-pass .container {
  margin: 30px auto;
  display: flex;
  width: 1200px;
  justify-content: center;
}

/* RIGHT SIDE */
/* .set-pass .right {
  width: 50%;
  display: flex;
  flex-direction: column;
} */

.set-pass .card {
  width: 390px;
  background: white;
  border-radius: 50px;
  padding: 35px 25px 36px; 
  margin: 96px auto 21px;
  text-align: center;
  border: 1px solid var(--border-color);
  box-shadow:
    0 12px 30px rgba(0, 0, 0, 0.12),
    inset 0 2px 6px rgba(0, 0, 0, 0.08);
}

/* TITLE */
.set-pass .card-title {
  font-size: 36px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 6px;
  color: var(--primary-bg);
}

/* DESCRIPTION */
.set-pass .card-description {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-dark);
  margin-bottom: 18px;
  line-height: 1.6;
}

/* FORM */
.set-pass form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 50px;
}

.set-pass .field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.set-pass label {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark);
}

.set-pass input {
    width: 90%;
    padding: 15px 18px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    
}
.set-pass .field:last-of-type {
  margin-bottom: 24px;
}

/* BUTTONS */
.set-pass button {
  width: 100%;
  padding: 12px;
  background: var(--primary-bg);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}


.set-pass button:hover {
  opacity: 0.9;
}

/* Responsive */

@media (max-width: 1200px) {
  .set-pass .container {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .set-pass .container {
    width: 75%;
  }

  .set-pass .right {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .set-pass .container {
    width: auto;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .set-pass .right {
    width: 100%;
    align-items: center;
  }

  .set-pass .card-title {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .set-pass .card {
    width: 90%;
  }
}