body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Nunito', sans-serif;
    background-color: #0b234c;
}
:root {
    --primary-bg: #14274E;
    --border-color: #dcdcdc;
}

.container {
    width: 100%;
    max-width: 1300px;
    height: 750px;
    display: flex;
    padding: 45px;
    color: white;
}

/* LEFT SIDE */
.left {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 230px;
}

.logo img {
    width: 100%;
    position: relative;
    left: -65px;
}

.left h2 {
    height: 60px;
    font-size: 34px;
    margin-bottom: 10px;
}

.subtitle {
    color: white;
    margin-bottom: 20px;
    font-weight: 400;
}

.description {
    width: 70%;
    line-height: 1.7;
    color: #cbd6e4;
}

/* RIGHT SIDE CARD */
.card {
    width: 938px;
    height: 679px;
    background: white;
    border-radius: 50px;
    padding: 40px;
    margin-right: 40px;
    color: #0b234c;
}

.card-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 600;
    font-weight: 'Poppins', 'Nuninto';
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    font-size: 14px;
    color: #0b234c;
    font-weight: 500;
}

.row {
    display: flex;
    gap: 15px;
}

input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

button {
    margin-top: 10px;
    padding: 14px;
    background: #0b234c;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

/* Responsive */

@media (max-width: 1200px) {
    .card {
        width: 100%;
    }
    .left {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .card {
        width: 100%;
    }

    .left {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 90px;
    }

    .card {
        width: 100%;
        margin: 0 auto;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0 20px 20px;
        text-align: center;
    }


    .logo img {
        left: 0;
    }

    .left h2 {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }
    .card {
        width: 100%;
        padding: 20px;
    }

    .left {
        margin: 0;
        padding: 0 20px 20px;
        text-align: center;
    }

    .logo {
        width: 180px;
        margin: 0 auto;
    }

    .logo img {
        left: 0;
    }

    .left h2 {
        font-size: 28px;
    }

    .left .description {
        margin: 10px auto;
    }
}