/* ================= SIGN UP PAGE ONLY ================= */

.signup {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

/* container */
.signup .container {
  width: 95%;
  min-height: 95vh;
  background: #ffffff;
  display: flex;
  /* border-radius: 10px; */
  position: relative;
}



/* LEFT */
.signup .left {
  width: 40%;
  padding: 40px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.signup .left .image-slider {
  width: 580px;
  height: 580px;
}
/* RIGHT */
.signup .right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.signup .card {
  width: 85%;
  max-width: 420px;
  background: #ffffff;
  
}

.signup .card-title {
  font-size: 45px;
  font-weight: 600;
  color: #6bb0c9;
  margin-bottom: 15px;
}

/* FORM */
.signup .card-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup .row {
  display: flex;
  /* gap: 15px;/ */
}

.signup .field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.signup .field label {
  font-size: 16px;
  color: #1b2d5c;
}

.signup  input {
  height: 42px;
  padding: 0 12px;
  border-radius: 9px;
  border: 1px solid #b9c0c9;
  outline: none;
  font-size: 14px;
}

.signup .field input:focus {
  border-color: #5ea5c0;
}

/* BUTTON */
.signup button {
  margin-top: 10px;
  height: 45px;
  border: none;
  border-radius: 8px;
  background: #5ea5c0;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}

.signup button:hover {
  background: #5aa3bd;
}

/* ================= MOBILE ================= */

@media (max-width: 900px) {
  .signup {
    align-items: flex-start;
    padding: 20px 0;
  }

  .signup .container {
    flex-direction: column;
    min-height: auto;
    border-radius: 0;
  }

  .signup .left {
    width: 100%; 
    padding: 30px 20px; 
    align-items: flex-start; 
    text-align: flex-staet;
  }
  .signup .right {
    width: 100%; 
    padding: 20px;
  }
  .signup .row {
    flex-direction: column;
  }
}
