body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Nunito', sans-serif;
    background-color: #0b234c;
}

:root {
    --primary-bg: #0b234c;
    --border-color: #dcdcdc;
}

.signup .container {
    display: flex;
    color: white;
    padding-top: 90px;
}

/* LEFT SIDE */
.signup .left {
    width: 700px;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup .left .logo {
    width: 120px;
    height: 120px;
}

.signup .left .logo img {
    width: 100%;
    position: relative;
    left: -30px;
}

.signup .left h2 {
    font-size: 30px;
    margin: 20px 0;
}

.signup .subtitle {
    color: white;
    margin-bottom: 20px;
    font-weight: 400;
}

.signup .description {
    width: 60%;
    line-height: 1.7;
    color: #cbd6e4;
}

/* RIGHT SIDE */
.signup .right {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.signup .card {
    width: 400px;
    background: white;
    border-radius: 30px;
    color: #0b234c;
    font-weight: bold;
    padding: 30px 20px;
    margin-bottom: 20px;
}

.signup .card-title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: bold;
}

.signup form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.signup .field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.signup label {
    font-size: 14px;
    color: #0b234c;
    font-weight: 500;
}

.signup .row {
    display: flex;
    gap: 15px;
}

.signup input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

.signup button {
    margin-top: 10px 0;
    padding: 14px;
    background: #0b234c;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.signup button:hover {
    opacity: 0.9;
}

/* Responsive */

@media (max-width: 1200px) {
    .signup .container {
        width: 900px;
    }
}

@media (max-width: 992px) {
    .signup .container {
        width: 750px;
    }

    .signup .left {
        width: 100%;
    }

    .signup .right {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .signup .container {
        width: 450px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .signup .left {
        height: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .signup .left h2 {
        font-size: 24px;
    }

    .signup .left .logo img {
        width: 100%;
        position: relative;
        left: 0;
    }

    .signup .right {
        width: 400px;
    }

}

@media (max-width: 480px) {
    .signup .container {
        max-width: 300px;
    }

    .signup .left {
        height: 900px;
    }

    .signup .right {
        width: 300px;
    }
}