:root {
  --primary-bg: #5EA5C0;
  --border-color: #B9C0C9;
  --text-dark: #14274E;
  --text-light: #6b7280;
}


.verify-email .container {
    width: 1400px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    color: white;
    /* position: relative; */
    /* background-color: var(--primary-bg); */
}






.verify-email .card {
    width: 390px;
    background: white;
    margin: 96px auto 21px;
    padding: 45px 25px;
    border-radius: 50px;
    text-align: center;
    border: 1px solid var(--border-color);

    box-shadow:
        0 12px 30px rgba(0, 0, 0, 0.12),
        inset 0 2px 6px rgba(0, 0, 0, 0.08);
        color: var(--primary-bg);
}

.verify-email .card h2 {
    text-align: center;
    margin: 0 0 10px;
    font-size: 36px;
    font-weight: 600;
}

.verify-email .card p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 39px;
    color: var(--text-dark);
}

.verify-email .resend {
    /* display: flex; */
    all: unset; 
    margin: 0px 0 39px;
    font-size: 14px;
    color: var(--primary-bg);
    text-decoration: none;
}

.verify-email .code-inputs {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 25px;
}

.verify-email .code-inputs input {
    width: 55px;
    height: 55px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    border: 1.5px solid #B9C0C9;
    outline: none;
}

.verify-email .submit-btn {
    width: 100%;
    padding: 12px;
    background: var(--primary-bg);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 600;
    cursor: pointer;
    margin-bottom: 15px;
}

.verify-email .edit-btn {
    width: 100%;
    padding: 12px;
    background: #ffffff;
    color: var(--text-dark);
    border: 1.5px solid #cfd9e6;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.verify-email .edit-btn:hover {
    background: #fafafa;
}

.verify-email .submit-btn:hover {
    background:  #69afcb;
}

@media (max-width: 1200px) {
    .verify-email .container {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .verify-email .container {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .verify-email .container {
        width: auto;
    }

    .verify-email .top {
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .verify-email .top .logo img {
        left: 0;
        top: -100%;
    }

}

@media (max-width: 480px) {
    .verify-email .card {
        width: 80%;
    }

}