.verification-card {
  width: 400px;
  padding: 40px;
  border-radius: 16px;
  background: white;
  text-align: center;
}


.title.success {
  color: #2ecc71; 
}

.title.error {
  color: #e74c3c; 
}


.icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.icon.success {
  background-color: #2ecc71;
}

.icon.error {
  background-color: #e74c3c;
}
