:root {
    --primary-bg: #0b234c;
    --border-color: #dcdcdc;
}


.verify-email .container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    color: white;
    background-color: var(--primary-bg);
}

.verify-email .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.verify-email .top .logo {
    display: block;
    height: 70px;
}

.verify-email .top .logo img {
    width: 150px;
    height: 150px;
    position: relative;
    left: -31%;
    top: -90%;

}

.verify-email .top h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.verify-email .card {
    width: 360px;
    background: white;
    margin: 0 auto 30px;
    padding: 45px 25px;
    border-radius: 25px;
    text-align: center;
    color: var(--primary-bg);
}

.verify-email .card h2 {
    text-align: center;
    margin: 0 0 50px;
    font-size: 30px;
    font-weight: 550;

}

.verify-email .card p {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--primary-bg);
}

.verify-email .resend {
    display: block;
    margin: 10px 0 20px;
    font-size: 12px;
    color: #77a5c9;
    text-decoration: none;
}

.verify-email .code-inputs {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 25px;
}

.verify-email .code-inputs input {
    width: 45px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    border: 1.5px solid #cfd9e6;
    outline: none;
}

.verify-email .submit-btn {
    width: 100%;
    padding: 12px;
    background: var(--primary-bg);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.verify-email .edit-btn {
    width: 100%;
    padding: 12px;
    background: #ffffff;
    color: var(--primary-bg);
    border: 1.5px solid #cfd9e6;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.verify-email .edit-btn:hover {
    background: #f0f0f0;
}

.verify-email .submit-btn:hover {
    background: #0b236c;
}

@media (max-width: 1200px) {
    .verify-email .container {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .verify-email .container {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .verify-email .container {
        width: auto;
    }

    .verify-email .top {
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .verify-email .top .logo img {
        left: 0;
        top: -50%;
    }

}

@media (max-width: 480px) {
    .verify-email .card {
        width: 80%;
    }

}